.connection-wrapper {
    user-select: none;
    perspective: 1000;
    transform-style: preserve-3d;
}

.connection-wrapper *{
    transform-style: preserve-3d;
}

.connection-container {
    position: relative;
}

.connection-container {
    position: relative;
    margin: 0 auto;
    height: auto;
    width: auto;
    transform: rotate3d(0, 1, 0, 0deg) translateZ(50px);
}

.connection-title{
    margin-bottom: 15%;
    h1{
        font-size: 1.5em;
    }
    span{
        font-family: "Order";
        transform:translateZ(20px);
        display: inline-block;
        color: $color-white;
    }
}

.connection-loading{
    color: $color-primary;
    text-transform: uppercase;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    transform: translateZ(20px);
}
