.game-score-wrapper {
    position: absolute;
    top: 0;;
    right: 0;
    user-select: none;
    color: $color-white;
    perspective: 1000;
    transform-style: preserve-3d;
    transform: translateZ(0);
}

.game-score-container {
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(0px);
    padding-top: 2em;
    padding-bottom: 3em;
    padding-left: 2em;
    padding-right: 3em;
    background: linear-gradient(-45deg,rgba($color-white, 0.15) 0%, rgba($color-white, 0.06) 30%, rgba($color-white, 0) 100%);
    &:before{
        top: 10px;
        left: -10px;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid $color-primary;
    }
}

.game-score-timer{
    position: relative;
    display: inline-block;
    transform-style: preserve-3d;
    transform: translateZ(0px);
    width: 100%;
    height: 2.5em;
}

.game-score-timer-count{
    position: absolute;
    margin-top: 0;
    display: inline-block;
    transform-style: preserve-3d;
    transform: translateZ(0px);
    color: $color-white;
    font-size: 1.8em;
    .minutes{
    }
    .seconds{
    }
}

.game-score-timer-bar{
    position: absolute;
    left: -8px;
    top: 8px;
    height: 2em;
    width: 6.5em;
    background: $color-white-lighter;
}
.game-score-timer-bar-done{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0%;
    background: $color-primary;
}


.game-score-players{
    position: relative;
    display: block;
    transform-style: preserve-3d;
    transform: translateZ(0px);
    margin-top: 2em;
}

.game-score-player{
    margin-bottom: 1em;
    display: block;
}

.game-score-player .color{
    display: inline-block;
    position: absolute;
    height: 1em;
    width: 1em;
    // background-color: $color-primary;
}

.game-score-player-name{
    display: inline-block;
    margin: 0;
    margin-left: 1.5em;
    padding: 0;
    h5{
        margin: 0;
        padding: 0;
    }
}

.game-score-player-gems{
    margin: 0;
    margin-left: 1.1em;
    margin-top: 0.3em;
    padding: 0;
    display: block;
    svg{
        display: inline-block;
        height: 0.8em;
        margin-right: -0.8em;
    }
}
