.game-wrapper {
    @include fullpage-absolute;
    // background: $color-black;
    user-select: none;
}

.game-container {
    position: relative;
    height: 100%;
    width: 100%;
}

#stats{
    z-index: $index-overlay;
}
.webvr-button{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: $index-overlay;
}
