.game-end-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color-white;
    user-select: none;
    color: $color-black;
}

.game-end-container {
    position: relative;
    height: 100%;
    width: 100%;
}
