.intro-wrapper {
    @include fullpage-absolute;
    background: url('../img/backgrounds/home.png') center center no-repeat;
    background-size: cover;
    user-select: none;
}

.intro-container {
    position: relative;
    height: 100%;
    width: 100%;
}
