.intro-wrapper {
    @include fullpage-absolute;
    // background: url('../img/backgrounds/home.png') center center no-repeat;
    background-size: cover;
    user-select: none;
    display: flex;
    align-items: center;
    perspective: 1000;
    transform-style: preserve-3d;
    transform: translateZ(0);
    opacity: 0;
}

.intro-wrapper *{
    transform-style: preserve-3d;
}

.intro-container {
    position: relative;
    margin: 0 auto;
    height: auto;
    width: auto;
    transform: rotate3d(0, 1, 0, 0deg) translateZ(50px);
}

.intro-title{
    margin-bottom: 30%;
    h1{
        transform: translateZ(0px);
    }
    h2{
        text-align: right;
        margin-top: -0.3em;
        margin-right: 1em;
        transform: translateZ(20px);
    }
}

.intro-links{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
