.intro-wrapper {
    @include fullpage-absolute;
    background: url('../img/backgrounds/home.png') center center no-repeat;
    background-size: cover;
    user-select: none;
    display: flex;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective(1000px) translateZ(0);
}

.intro-container {
    position: relative;
    margin: 0 auto;
    height: auto;
    width: auto;
    transform: rotate3d(0, 1, 0, 0deg);
    transform-style: preserve-3d;
}

.intro-title{
    margin-bottom: 35%;
    h1{
        transform: perspective(1000px) translateZ(50px);
    }
    h2{
        text-align: right;
        margin-top: -0.2em;
        margin-right: 0.4em;
        transform: perspective(1000px) translateZ(80px);
    }
}

.intro-links{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    transform: perspective(1000px) translateZ(50px);
}
