<div id="game-end-wrapper" class="game-end-wrapper" transition="gameend">

    <div v-el:waitcontainer class="game-end-container">

        <div class="game-end-title">

            <h2>Game</h2>
            <h1>Over</h1>

        </div>

        <div class="game-end-rollinfos">

            <div class="game-end-leave-button" v-on:click="exitRoom()">

                <div class="game-end-leave-button-corner"></div>

                <span class="game-end-leave-button-icon"><partial name="outPartial"></partial></span>

                <h5 class=game-end-leave-button-title>Leave</h5>

            </div>

        </div>

        <div class="game-end-list">

            <div class="game-end-list-title">

                <h2>{{GameRoom.name}}</h2>
                <h3>Results</h3>

            </div>

            <div class="game-end-list-players">

                <div v-for="player in GameRoom.players | orderBy 'gems' -1" v-bind:class=" { 'game-end-list-player': true, 'game-end-winner': $index === 0 }">

                    <div class="game-end-list-player-picture" v-bind:style="{ backgroundImage: 'url(' +player.picture+ ')' }"></div>

                    <div class="game-end-list-player-infos">
                        <h5 class="rooms-wait-list-player-title">{{ player.name }}</h5>
                        <span class="rooms-wait-list-player-score">{{ player.score.sum_score }}</span>
                    </div>

                    <div class="game-end-list-player-addscore">
                        <span v-if="$index === 0">Win</span>
                        <h5>+{{ player.gems }} pts</h5>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
