<div id="rooms-wrapper" class="rooms-wrapper">

    <div v-el:container class="rooms-container">

        <div class="rooms-title">

            <h2>Select a</h2>
            <h1>Room</h1>

        </div>

        <div class="rooms-list">

            <div class="rooms-list-title">

                <h3>Available rooms</h3>

            </div>

            <div class="rooms-list-iscroll">

                <div v-for="room in rooms" class="rooms-list-item" v-on:click="onSwitchRoom(room.name)">

                    <div class="rooms-list-item-corner"></div>

                    <h5 class="rooms-list-item-title">{{ room.name }}</h5>

                    <div class="rooms-list-item-players">

                        <div class="rooms-list-item-players-trigs">

                            <span v-bind:class="{ 'rooms-list-item-players-trig': true, 'active': $index < room.players.length }" v-for="index in room.maxPlayers"></span>

                        </div>

                        <div class="rooms-list-item-players-friends">

                            <span>2 friends</span>

                        </div>

                    </div>

                        <!-- <span v-for="player in room.players">
                            {{player.name}}
                        </span> -->

                </div>

            </div>
        </div>

        <div class="rooms-create">

            <div class="rooms-create-title">

                <h3>Create a new room</h3>

            </div>

            <div class="rooms-create-form">


                <div class="rooms-create-form-element rooms-create-form-name">

                    <input type="text" v-model="newRoomName" placeholder="Room name" maxlength="10"/>

                </div>

                <div class="rooms-create-form-element rooms-create-form-players">

                    <h5>{{newRoomPlayers}} players</h5>
                    <span class="rooms-create-form-players-trig trig-1" dataTrig="1"></span>
                    <span class="rooms-create-form-players-trig trig-2" dataTrig="2"></span>
                    <span class="rooms-create-form-players-trig trig-3" dataTrig="3"></span>
                    <span class="rooms-create-form-players-trig trig-4" dataTrig="4"></span>
                    <span class="rooms-create-form-players-trig trig-5" dataTrig="5"></span>

                </div>

                <div class="rooms-create-form-element rooms-create-form-button">

                    <a v-on:click="createRoom(newRoomName, newRoomPlayers)" class="is-sound">Create</a>

                </div>

            </div>

        </div>

    </div>

</div>
