@font-face {
    font-family: 'Order';
    src: url('/media/fonts/order.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Arkship';
    src: url('/media/fonts/arkship.otf');
    font-weight: normal;
}
