html {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	color: $color-white;
	font-size: 80%;
	background: $color-black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	height: 100%;
	font-family: 'Arkship';
	letter-spacing: 0.2em;
}

h1,h2,h3,h4{
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 0.2em;
	font-weight: lighter;
	// opacity:0.999;
}

h1{
	font-size: 3em;
	font-family: 'Order';
}

h2{
	font-size: 1.2em;
	color: $color-primary;
}

h3{
	font-size: 0.8em;
	color: $color-white;
}

h4{
	font-size: 0.8em;
	color: $color-primary;
}

a,a:hover,a:active{
	text-decoration: none;
	text-transform: uppercase;
	color: $color-white;
	cursor: pointer;
}

a:hover{
	color: $color-primary;
}

p{
	line-height: 1.4;
}

button {
	padding: 0;
	border: 0;
	outline: 0;
	background: none;
	letter-spacing: inherit;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
}

img {
	vertical-align: top;
}

*,
*:before,
*:after,
input[type="search"] {
	box-sizing: inherit;
}

::selection {
	text-shadow: none;
	background: $color-primary;
}

[v-cloak] {
	display: none;
}

.cursor--grab {

	cursor: grab;
}
.cursor--grabbing {

	cursor: grabbing;
}
