<div id="game-score-wrapper" class="game-score-wrapper">

    <div class="game-score-container">

        <div class="game-score-timer">
            <div class="game-score-timer-bar" id="timer-bar"><div class="game-score-timer-bar-done" id="timer-bar-done"></div></div>
            <div class="game-score-timer-count" id="timer"></div>
        </div>

        <div class="game-score-players">
            <div v-for="player in GameRoom.players | orderBy 'gems' -1" class="game-score-player">

                <div class="game-score-player-name">
                    <h5>{{ player.name }}</h5>
                </div>
                <div class="game-score-player-gems">
                    <partial name="boxPartial" v-for="$index in player.gems"></partial>
                </div>
            </div>
        </div>

    </div>

</div>
